/* RESET */

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

.box{
    
    background-color: #1f92be;
    height: 50px;
    border: 1px solid white;
}

.box-2{
    background-color: #d7a1e9;
    border: 5px solid #1f92be;
    
    height: 30px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.section-1{
    margin-top: 10px;
}

.section-2{
    margin-top: 20px;
}

.section-3{
    margin-top: 20px;
}
/* CONTAINER */

.container{
    max-width: 1100px;
    margin: auto;
}

/* FRAMEWORK */

.col-1{
    width: calc(100% / 12);
}

.col-2{
    width: calc(100% / 12 * 2);
}

.col-3{
    width: calc(100% / 12 * 3);
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-5{
    width: calc(100% / 12 * 5);
}

.col-6{
    width: calc(100% / 12 * 6);
}

.col-7{
    width: calc(100% / 12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-9{
    width: calc(100% / 12 * 9);
}

.col-10{
    width: calc(100% / 12 * 10);
}

.col-11{
    width: calc(100% / 12 * 11);
}

.col-12{
    width: calc(100% / 12 * 12);
}



/* INSIDE  FRAMEWORK */

.col-in-1{
    width: calc(100% / 12 * 1);
}

.col-in-2{
    width: calc(100% / 12 * 2);
}

.col-in-3{
    width: calc(100% / 12 * 3);
}

.col-in-4{
    width: calc(100% / 12 * 4);
}

.col-in-5{
    width: calc(100% / 12 * 5);
}

.col-in-6{
    width: calc(100% / 12 * 6);
}

.col-in-7{
    width: calc(100% / 12 * 7);
}

.col-in-8{
    width: calc(100% / 12 * 8);
}

.col-in-9{
    width: calc(100% / 12 * 9);
}

.col-in-10{
    width: calc(100% / 12 * 10);
}

.col-in-11{
    width: calc(100% / 12 * 11);
}

.col-in-12{
    width: calc(100% / 12 * 12);
}


/* OFFSET FRAMEWORK */


.offset-1{
    margin-left: calc(100% / 12 * 1);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

.offset-12{
    margin-left: calc(100% / 12 * 12);
}